       <!-- Page Headings Start -->
       <div class="row justify-content-between align-items-center mb-10">

        <!-- Page Heading Start -->
        <div class="col-12 col-lg-auto mb-20 d-flex">
            <div class="page-heading">
                <h3>فهرست کاربران</h3>
            </div>
            <a href="/admin/users/create" class="button button-primary">افزودن کاربر</a>


        </div><!-- Page Heading End -->

    </div><!-- Page Headings End -->

    <div class="row">

        <!--Order List Start-->
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-vertical-middle">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>ایمیل</th>
                            <th>تاریخ ایجاد</th>
                            <th>پست</th>
                            <th>عمل</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.full_name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.jalali_created_at}}</td>
                            <td>{{isRole this.role}}</td>
                            <td class="action h4">
                                <div class="table-action-buttons">
                                    <a class="view button button-box button-xs button-primary" href="order-details.html"><i class="zmdi zmdi-more"></i></a>
                                    <a class="edit button button-box button-xs button-info" href="/admin/users/edit/{{this.id}}"><i class="zmdi zmdi-edit"></i></a>
                                    <a class="delete button button-box button-xs button-danger" href="/admin/users/delete/{{this.id}}"><i class="zmdi zmdi-delete"></i></a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                
                    </tbody>
                </table>
            </div>
        </div>
        <!--Order List End-->

    </div>
